body,
html {
  margin: 0px;
  height: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  /* overflow: hidden; */
}

canvas {
  width: 100%;
  /* height: 100%; */
}

#background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
